@import url('https://fonts.googleapis.com/css?family=Comfortaa');


/**
 * GENERAL
 */

a {
    text-decoration: none;
    color: inherit;
}

footer{
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .footer-menu {
    margin: auto;
    width: 58%;

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-menu li::before {
    content: '|';
}

footer .footer-menu li:first-of-type::before {
    content: '';
}

.flex {
    display: flex;
}

.fcolumn {
    flex-direction: column;
}

.frow {
    flex-direction: row;
}

/**
 * Homepage
 */

html{
    height:100%;
}

body.home {
    height: 100%;
    margin:0;
}

.home header {
    background-image: url(../images/derek-thomson-292163-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home header path {
    fill:transparent;
    stroke: white;
}

.home h1{
    color: rgb(247, 247, 247);
    letter-spacing: 1vh;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    background-color: rgb(255, 251, 251);
    border: solid 1px white;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

}

.home h1:hover{
    background-color: rgba(255, 255, 255, 0.664);
}

.home section{
    background-color: white;
    min-height:100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.home article {

    position: relative;
    color: rgb(44, 42, 42);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    font-size : 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 60px;
    text-align: center;
    max-width: 100%;
    transition: all 1s ease-in-out;
    filter: grayscale(0);
}

.home #article1 {
    background-image:url(../images/Bibli.jpg);
}
.home #article2 {
    background-image:url(../images/derek-thomson-292163-unsplash.jpg);
}
.home #article3 {
    background-image:url(../images/lol.jpg);
}


.home .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/soleil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.home article:hover .bg-img {
    filter: grayscale(0);
    transform: scale(1.5);
}

.home article h2 {
    color: rgb(239, 240, 248);
}

.home .square {
    height :100px;
    width :100px;
    background-color: rgb(202, 169, 120);
    animation: first 5s linear infinite alternate;
}

@keyframes first {
    0% {
        background-color:rgb(94, 75, 46);
        transform:translateY(0);
    }
    100% {
        background-color:rgb(104, 69, 24);
        transform:translateY(-50px);
    }
}

/**
 * ARTICLES
 */
body.article {
    max-width: 80%;
    margin: auto;
}

.article header {
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 50px;
}

.article header img {
    display: block;
    width: 100%;
    margin-top: -30%;
}

.article header .title {
    position: absolute;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.77);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
 * TRAVELS
 */
.travels {
    display: flex;
    flex-direction: column;
}

.travels .row {
    flex: 1;
}

.travels h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 30px;
    color: indianred;
    letter-spacing: 20px;
}

.travels .img-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    padding: 0;

    height: 300px;

    list-style: none;
}

.travels .img-col li {
    height: 100%;
    margin-bottom: 50px;
    max-width: 33%;
    overflow: hidden;
}

.travels .img-col li img {
    height: 100%;
}

.travels footer .footer-menu .active {
    color: indianred;
}

/**
 * ANIMALS
 */

.animals h1{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(129, 112, 90);
    letter-spacing:30px
}

.animals article {
    flex: 3;
    padding-right: 20px;
}

.animals .img-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.animals .img-col img {
    width: 100%;
}

.animals footer .footer-menu .active {
    color: rgb(129, 112, 90);
}

/**
 * EXPERIENCES
 */

.experience .img-col {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.experience .img-col img {
    width: 40%;
}

.experience h1{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(145, 115, 71);
    letter-spacing: 20px;
}

.experience footer .footer-menu .active {
    color: rgb(145, 115, 71);
}

.experience section {
    position: relative;
}

.experience section .article-bg {
    width: 100%;
}

.experience section article {
    background-color: rgba(255, 255, 255, 0.60);

    padding: 20px;
    width: 70%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/**
 * RWD
 */

@media only screen and (max-width : 1200px) {
    body.article {
        max-width: 100%;
    }

    article {
        padding: 0 20px;
    }
}

@media only screen and (max-width : 768px) {

    .fcol-med {
        flex-direction: column;
    }

    .frow-med {
        flex-direction: row;
    }

    .article header {
        margin-bottom: 10px;
    }

    footer .footer-menu {
        padding: 0;
        width: 100%;
        flex-direction: column;
    }

    footer .footer-menu li {
        position: relative;
        padding-top: 20px;
        width: 100%;
    }

    footer .footer-menu li:first-of-type {
        padding-top: 0;
    }

    footer .footer-menu li::before {
        position: absolute;
        top: 0;
        right: 50%;
        content: '-';
    }

    .travels .img-col {
        flex-direction: column;
        height: auto;
    }

    .travels .img-col li {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .travels .img-col li img {
        height: auto;
    }

    .animals .img-col img {
        margin-top: 20px;
    }


    .experience section {
        display: flex;
        flex-direction: column;
    }

    .experience section .article-bg {
        width: 100%;
    }

    .experience section article {
        background-color: transparent;
        width: auto;

        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

}

@media only screen and (max-width : 620px) {

    .article header .title {
        width: 88%;
    }

    .article header .title h1 {
        letter-spacing: 3px;
    }
}