body {
    background-color: #1e1b22;
    color: white;
    padding: 0 350px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 36px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:focus {
    color: #eeb5f2;
}

h1 span {
    color: #eeb5f2;
}

.main {
    width: 1170px;
}

/**
 * ---------------------
 * MENU
 * ---------------------
 */

.nav {
    width: 100%;
    border-bottom: 1px solid grey;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 0;
}

.nav ul li {
    margin: 0 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.nav ul li.active a {
    color: #eeb5f2;
}

.nav ul li:first-of-type {
    margin-left: 0;
}

.nav ul li span {
    color: #eeb5f2;
}

/**
 * ---------------------
 * ACCUEIL
 * ---------------------
 */

.home .main .head .main-picture {
    float: left;
    padding-top: 30px;
}

.home .main .head .main-picture img {
    display: block;
    width:750px;
}

.home .main .head .main-presentation {
    float: right;
    width: 400px;
    font-size: 12px;
}

.home .main .head .main-presentation .infos {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
}

.home .main .head .main-presentation .infos .title {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #eeb5f2;
    line-height: 23px;
    padding-bottom: 15px;
}

.home .main .head .main-presentation .infos .content {
    width: 50%;
    color: #aaaaaa;
}

.home .main .head .main-presentation .description {
    line-height: 25px;
    padding: 50px 0;
    color: #aaaaaa;
}

.home .main .head .main-presentation .cv-download {
    text-transform: uppercase;
    color: #eeb5f2;
}

.home .main .head .main-presentation .cv-download i {
    margin-right: 15px;
}

.home .main .cv {
    padding-top: 30px;
    clear: both;
}

.home .main .cv .cv-categorie {
    margin-bottom: 30px;
}

.home .main .cv .cv-categorie p {
    color: #aaaaaa;
}

.home .main .cv .cv-categorie h2 {
    margin: 0;
}


/**
 * ---------------------
 * BLOG
 * ---------------------
 */
.blog .main .articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;
}

.blog .main .articles a {
    width: 30%;
    padding: 0 15px;
}

.blog .main .articles a:first-of-type {
    padding-left: 0;
}

.blog .main .articles a:last-of-type {
    padding-right: 0;
}

.blog .main .articles article img {
    display: block;
    max-width: 100%;
}

.blog .main .articles p {
    color: #aaaaaa;
}

/**
 * ---------------------
 * BLOG ARTICLE
 * ---------------------
 */

.article-body .main .article .banner img {
    max-width: 500px;
    float: left;
    margin-right: 20px;
    padding-top: 15px;
}

.article-body .main .article p {
    color: #aaaaaa;
}

/**
 * ---------------------
 * SLIDER
 * ---------------------
 */
.owl-nav {
    margin: auto;
    padding-top: 100px;
    width: 200px;
    font-size: 30px;
}

.owl-prev {
    float: left;
}

.owl-next {
    float: right;
}
/**
 * ---------------------
 * FOOTER
 * ---------------------
 */
footer {
    margin-top: 50px;
    width: 100%;
    display: block;
    border-top: 1px solid grey;
}

footer .footer-menu {
    float: left;

    display:flex;
    flex-flow: row nowrap;
    list-style:none;
    width: 400px;
    font-size: 12px;
    justify-content: space-between;
    text-transform: uppercase;
    color: #aaaaaa;
    padding: 20px 0;
}

footer .footer-menu a {
    color: #aaaaaa;
}

footer .footer-menu a:hover,
footer .footer-menu a:focus {
    color: #eeb5f2;
}

footer .footer-social {
    float: right;
    list-style:none;
    display:flex;
    flex-flow: row nowrap;
    padding: 20px 0;
    font-size: 12px;
}

.linkedin {
    width: 20px;
    height: 20px;
}

@media screen and (max-width : 1200px) {

    body {
        padding: 0 20px;
    }

    .main {
        width: 100%;
    }

    .home .main .head .main-picture img {
        width:500px;
    }

}

@media screen and (max-width : 768px) {

    /**
     * ---------------------
     * HOME
     * ---------------------
     */
    .home .main .head .main-picture img {
        width: 100%;
    }

    .home .main .head .main-presentation {
        float: left;
        width: 100%;
    }

    /**
     * ---------------------
     * MENU
     * ---------------------
     */
    .nav ul {
        list-style: none;
        display: flex;
        flex-flow: column;
        padding: 15px 0;
    }

    .nav ul li {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .nav ul li.menu-separator {
        display: none;
    }

    /**
     * ---------------------
     * BLOG
     * ---------------------
     */
    .blog .main .articles {
        display: flex;
        flex-flow: column;
        margin-top: 25px;
    }

    .blog .main .articles a {
        width: 100%;
        padding: 0;
        margin-bottom: 75px;
    }

    .blog .main .articles a:last-of-type {
        margin-bottom: 25px;
    }

    /**
    * ---------------------
    * BLOG ARTICLE
    * ---------------------
    */
    .article-body .main .article .banner img {
        width: 100%;
        max-width:100%;
        float: none;
        margin-bottom: 0;
    }

    /**
     * ---------------------
     * FOOTER
     * ---------------------
     */
    footer {
        margin-top: 25px;
        width: 100%;
        display: block;
        border-top: 1px solid grey;
        text-align: center;
    }

    footer .footer-menu {
        float: none;
        display:flex;
        flex-flow: column;
        padding: 0;
        margin: 0;
        margin-top: 25px;
        width: 100%;
    }

    footer .footer-menu .footer-menu-item,
    footer .footer-menu .footer-social-item {
        width: 100%;
        text-align: center;
    }

    footer .footer-menu a {
        color: #aaaaaa;
    }

    footer .footer-menu a:hover,
    footer .footer-menu a:focus {
        color: #eeb5f2;
    }

    footer .footer-social {
        float: none;
        display:flex;
        flex-flow: column;
    }

    .owl-nav  {
        padding-top: 0;
        padding-bottom: 100px;
    }

}