@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html{
    height:100%;
}


body {
    height: 100%;
    margin:0;
}

header {
    background-image: url(images/derek-thomson-292163-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



header path {
    fill:transparent;
    stroke: white;
}
h1{
    color: rgb(247, 247, 247);
    letter-spacing: 1vh;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    background-color: rgb(255, 251, 251);
    border: solid 1px white;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

}

h1:hover{
    background-color: rgba(255, 255, 255, 0.664);
}

section{
    background-color: white;
    min-height:100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

article {
    
    position: relative;
    color: rgb(44, 42, 42);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    font-size : 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 60px;
    text-align: center;
    max-width: 100%;
    transition: all 1s ease-in-out;
    filter: grayscale(0);
}

#article1 {
    background-image:url(images/Bibli.jpg);
}
#article2 {
    background-image:url(images/derek-thomson-292163-unsplash.jpg);
}
#article3 {
    background-image:url(images/lol.jpg);
}


.bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/soleil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

article:hover .bg-img {
    filter: grayscale(0);
    transform: scale(1.5);
}

article h2 {
    color: rgb(239, 240, 248);
}


/*for mobiles only*/
@media only screen and (max-width: 600px){
    article {
        min-width: 80%;
    }
    section {
        flex-direction: column;
    }

}
/* for tablets only */
@media only screen and (min-width: 600px) and (max-width: 900px) {

}
/* For Desktop only */
@media only screen and (min-width: 900px) {

}
.square {
    height :100px;
    width :100px;
    background-color: rgb(202, 169, 120);
    animation: first 5s linear infinite alternate;
}

@keyframes first {
    0% {
        background-color:rgb(94, 75, 46);
        transform:translateY(0);
    }
    100% {
        background-color:rgb(104, 69, 24);
        transform:translateY(-50px);
    }
}    

a {
    text-decoration: none;
    color: inherit;
}

footer{
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
}


