body{
    margin:0;
}
main header {
    background-color: tan;
}
#myButton {
    transition: transform 1s;
}
.rotate {
    transform: rotate(90deg);
}
article{
        margin-left: 15%;
        margin-right: 15%;
        background-color: rgb(236, 236, 236);
}
section {
    margin-left: 15%;
    margin-right: 15%;
}