@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.img-col {
    display:flex;
    flex-direction: column;
    align-items: center;
    }
    
    img{
        height: 300px;
        margin-bottom: 50px;
    }
    
    h1{
        font-family: 'Comfortaa', cursive;
        text-align: center;
        font-size: 30px;
        color: indianred;
        letter-spacing: 20px;
    }
    
    .row{
        display: flex;
        flex-direction: row;
    }
    
    article{
        margin-left: 20px;
        margin-right: 20px;
    }